


<h1>{{titulo}}</h1>



<form >

    


<input type="text" name="nombre" [(ngModel)]="nombre"> <br>
<input type="text" name="apellido" [(ngModel)]="apellido"> <br >
<input type="text" name="cargo" [(ngModel)]="cargo"> <br >



<!-- <input type="text" name="nombre" ><br> -->
<!-- <input type="text" name="apellido" ><br> -->


<input type="submit" name="registrar" (click)="registrarUsuario()"><br>



</form>


<br>

<!-- nostrar este parrafo solo si se le da al boton de registrar  ..es afeta la estructura del dom-->
<!-- usar ng style para para agregar para aplicar estilo de acuerdo a alguna condicion-->
<p *ngIf="registrado; else sinRegistrar">{{mensaje}} con el nombre de: {{nombre}} {{apellido}}
     , y tiene el cargo de : <span [ngClass]="{paraDirectores: cargo=='director' }"> {{cargo}} </span> </p>


<ng-template #sinRegistrar>

    <p>nadie registrado </p>

</ng-template>

<br>
<br>

<ul>
<li *ngFor="let entrada of entradas; let i=index"><span style="font-weight: bold; font-size: larger;">{{entrada.titulo}}</span>
    . Entrada {{i}}
</li>
</ul>
